<div class="jumbotron jumbo-background">
  <h1 align="center" class="welcome-text">Stock Tracker Application</h1>
  <p class="welcome-paragraph">This application allows you to search and find the price on your favorite stocks, you can follow friends to compare stock ideas and current closing prices. Don't get caught in bust, start following today and don't miss a thing.</p>
</div>
